/* Style global pour le corps de la page */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navigation */
.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px 20px;
  z-index: 1000;
  /* Assurer que la nav soit au-dessus du contenu */
}

/* Logo dans la nav */
.logo {
  height: 40px;
  /* Ajuste la taille du logo */
  display: block;
}

/* Section hero avec image de fond */
.hero-section {
  position: relative;
  height: 350px;
  /* La section prend toute la hauteur de la fenêtre */
  background-image: url('hero_bg.png');
  background-size: cover;
  /* L'image couvre toute la section */
  background-position: center;
  background-attachment: fixed;
  /* L'image reste fixe lorsqu'on fait défiler la page */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10% 0;
}

.hero-text {
  padding-left: 30px;
  padding-bottom: 50px;
}

/* Contenu de la section hero */
.hero-content {
  text-align: left;
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 20px;
  /* Positionnement en bas à gauche */
}

/* Texte de la section hero */
.hero-title {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.0em;
  margin-bottom: 30px;
}

.cta-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #f7788d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5%;
}

.cta-button:hover {
  background-color: #f7788d;
}

.establishments-container {
  display: flex;
  overflow: hidden;
}

.establishment-image-wrapper {
  position: relative;
}

.establishment-details {
  display: flex;
  flex-direction: column;
  /* Ajoute cette ligne pour empiler les éléments */
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.slick-slide {
  margin: 0 15px;
}

.slick-prev,
.slick-next {
  font-size: 20px;
  color: #333;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}


.establishment-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.category-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.establishment-info {
  padding: 10px;
  flex-direction: column; /* Empile les éléments en colonne */
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.establishment-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
  color: #333;
  white-space: nowrap; /* Empêche le texte d'aller à la ligne */
  overflow: hidden; /* Masque le texte trop long */
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .establishments-container {
    display: block; /* Passe à une disposition verticale */
  }

  .slick-slider {
    slidesToShow: 1; /* Affiche une seule carte à la fois */
  }
}


.open-status {
  font-size: 14px;
  color: #58d6b0;
  margin-top: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.emoji {
  color:  #58d6b0; /* Assure que l'emoji hérite bien de la couleur */
  margin-right: 5px; /* Ajoute un espacement entre l'emoji et le texte */
}

.emoji {
  margin-left: 5px;
}


.rating-container {
  display: flex;
  justify-content: space-between; /* Espace entre les deux */
  align-items: center; /* Alignement vertical */
  gap: 10px;
}
.info-details {
  display: flex;
  flex-direction: column; /* Dispose les éléments en colonne */
  align-items: flex-start; /* Aligne les éléments à gauche */
  gap: 5px; /* Ajoute un espace entre les deux éléments */
}

.rating-stars {
  font-size: 13px;
  color: #d2d2d2;
}

.rating-icon {
  display: flex; /* Aligner horizontalement l'étoile et la note */
  align-items: center; /* Centre verticalement l'étoile et la note */
  background-color: #fdc541; /* Fond jaune pour l'ovale */
  color: white; /* Couleur blanche pour la note */
  border-radius: 50px; /* Forme ovale */
  padding-right: 10px;
  font-size: 8px; /* Taille du texte */
  font-weight: bold; /* Texte en gras */
}


.star {
  display: flex; /* Permet de centrer l'étoile */
  justify-content: right; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  background-color: #ffd700; /* Fond blanc pour l'étoile */
  color: white; /* Couleur jaune pour l'étoile */
  border-radius: 50%; /* Forme ronde autour de l'étoile */
  width: 24px; /* Largeur du cercle autour de l'étoile */
  height: 24px; /* Hauteur du cercle autour de l'étoile */
  font-size: 16px; /* Taille de l'étoile */
  margin-right: 8px; /* Espacement entre l'étoile et la note */
}

.rating-note {
  font-size: 10px; /* Taille de la note */
  color: white; /* Couleur blanche pour la note */
}

.section-title {
  display: flex;
  flex-direction: row;
  /* Organise les éléments verticalement */
  align-items: flex-start;
  /* Aligne les éléments au début (gauche) */
  margin-bottom: 20px;

}

.arrow-container {
  display: flex;
  justify-content: flex-end;
  /* Aligne les flèches à droite */
  align-items: center;
  /* Aligne verticalement les flèches */
}

.arrow-left,
.arrow-right {
  font-size: 1.5em;
  color: #f96e83;
  cursor: pointer;
  margin-left: 20px;
  /* Espace entre le texte et les flèches */
}

.arrow-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  /* Largeur du cercle */
  height: 30px;
  /* Hauteur du cercle */
  border-radius: 50%;
  /* Forme du cercle */
  background-color: #fbb985;
  /* Fond jaune */
  color: white;
  /* Couleur des flèches */
  font-size: 1.5em;
  /* Taille des flèches */
  cursor: pointer;
  margin-left: 10px;
  /* Espace entre le texte et les flèches */
}

.icon {
  width: 30px;
  /* Ajuster la taille de l'icône */
}

.arrow-left {
  margin-right: 10px;
  /* Espace entre les flèches */
}

.arrow-right {
  margin-left: 10px;
}

.arrow-circle:hover {
  background-color: #ff7f5e;
  /* Changement de couleur au survol */
  transform: scale(1.1);
  /* Légère augmentation de la taille au survol */
}

/* Section de services avec fond rouge transparent */
/* Section de services avec fond rouge transparent */
.service-section {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: rgba(250, 120, 141, 0.8);
  /* Fond rouge avec opacité (80%) */
  border-radius: 10px;
  flex-wrap: wrap; /* Permet aux cartes de s'ajuster en fonction de l'écran */

}


.service-card {
  width: 380px;
  height: 450px;
  padding-top: 0%;
  text-align: justify;
  background-color: white;
  border-radius: 9px;
  transition: transform 0.3s;
  justify-content: space-between;
  margin-bottom: 20px; /* Ajout d'une marge entre les cartes en mobile */

}
.service-image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 58%; /* Proportion de l'image (ex. 16:9) */
  overflow: hidden;
}
.service-card:hover {
  transform: scale(1.05);
  /* Effet d'agrandissement au survol */
}

.service-image {
  position: relative;
  top: 0;
  left: 0;

  width: 380px;
  height: 221px;
  /* Hauteur de l'image */
  object-fit: cover;
  border-radius: 8px;
}

.service-title {
  align-items: center;
  font-size: 2em;
  color: #333;
  margin-top: 15px;
  font-weight: bold;
  padding-left: 30px;
  /* Ajout d'un espace à gauche du titre */
  padding-right: 30px;
  /* Ajout d'un espace à droite du titre */
}

.service-description {
  font-size: 1em;
  color: #666;
  margin-top: 10px;
  padding-left: 30px;
  /* Ajout d'un espace à gauche du titre */
  padding-right: 30px;
  /* Ajout d'un espace à droite du titre */
}

.stats-section {
  align-items: center;
  background-color: #f9f9f9;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 10%;
}

.stats-container {
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.17);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  padding: 0% 3%;
}

.stats-title {
  color: #000;
  font: 800 40px Inter,
    sans-serif;
}

.stats-wrapper {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 40px 102px;
  justify-content:
    center;
  flex-wrap: wrap;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 232px;
}

.stat-icon-wrapper {
  display: flex;
  max-width: 100%;
  width: 232px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding: 29px 50px;
}

.stat-icon {
  aspect-ratio: 1.08;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.stat-number {
  color: #000;
  margin-top: 8px;
  font: 800 40px Inter, sans-serif;
}

.stat-description {
  color: #000;
  text-align: center;
  align-self: stretch;
  margin-top: 8px;
  font: 500 16px Open Sans, sans-serif;
}

.benefits-section {
  background-color: #f9f9f9;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 20px;
}

@media (max-width: 991px) {
  .benefits-section {
    max-width: 100%;
    padding: 0 20px;
  }

  .benefits-section,
  .steps-section {
    margin-bottom: 30px; /* Ajuste la valeur selon l'espacement souhaité */
  }
}

.benefits-content {
  border-radius: 28px 28px 0 28px;
  background-color: transparent;
  display: flex;
  min-width: 240px;
  height: 313px;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  flex-basis: 0%;
  gap: 20px;

}

@media (max-width: 991px) {
  .benefits-content {
    max-width: 100%;
  }
}

.benefits-title {
  color: #000;
  font: 800 2em Inter, sans-serif;
  text-align: left;
}

@media (max-width: 991px) {
  .benefits-title {
    max-width: 100%;
  }
}

.benefits-description {
  color: #000;
  margin-top: 10px;
  font: 600 1em Open Sans, sans-serif;
  line-height: 1.5;
  text-align: left;
}

@media (max-width: 991px) {
  .benefits-description {
    max-width: 100%;
  }
}

.benefits-list {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
  gap: px;
  flex-direction: column;
  justify-content: start;
}

@media (max-width: 991px) {
  .benefits-list {
    max-width: 100%;
  }
}

.benefit-item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 8px;
}

@media (max-width: 991px) {
  .benefit-item {
    max-width: 100%;
  }
}

.benefit-icon {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
  margin: auto 0;
  padding: 0 3px;
}

.benefit-icon-image {
  aspect-ratio: 1.31;
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;

}

.benefit-text {
  color: rgba(0, 0, 0, 0.7);
  align-self: stretch;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
  font: 500 0.9em Open Sans, sans-serif;
}

@media (max-width: 991px) {
  .benefit-text {
    max-width: 100%;
  }
}

.benefits-image {
  aspect-ratio: 2 / 1;
  /* Ratio ajustable */
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  border-radius: 8px;
  min-width: 240px;
  flex: 1;

}

@media (max-width: 991px) {
  .benefits-image {
    max-width: 100%;
  }
}

.vertical-line {
  position: absolute;
  left: 1.87%;
  /* Centré par rapport aux cercles */
  transform: translateX(-50%);
  width: 4px;
  height: 75%;
  top: 0;
  /* Aligné sur le premier cercle */
  bottom: 0;
  /* Se termine au dernier cercle */
  background-color: #f96e83;
  z-index: 0;
  /* Derrière les cercles */
}

.steps-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding-bottom: 30px;
  padding-right: 10px;

}

.steps-wrapper {
  max-width: 1225px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

@media (max-width: 991px) {
  .steps-wrapper {
    max-width: 100%;
    padding: 0 20px;
    flex-direction: column;
    /* Pour aligner verticalement */

  }
}

.steps-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
}

@media (max-width: 991px) {
  .steps-content {
    max-width: 100%;
    flex-direction: column;
    /* Mode vertical pour mobile */
    align-items: center;
    /* Centrer */
  }
}

.steps-image {
  aspect-ratio: 1.54;
  object-fit: contain;
  object-position: center;
  max-width: 50%;
  padding-left: 10px;
  border-radius: 20px;
  width: 100%;
  flex-grow: 1;
  margin: auto 0;
}

@media (max-width: 991px) {
  .steps-image {
    align-self: flex-start;
    /* Aligner l'image à gauche */
    max-width: 100%;
    /* S'assurer que l'image occupe toute la largeur disponible */
    padding-left: 10px;
    /* Optionnel : ajuster l'espacement */
  }
}

.steps-list {
  display: flex;
  min-width: 100px;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 2px 0;
  z-index: 1;
  flex: 1;
  position: relative;
  gap: 40px;
  align-items: center;


}

@media (max-width: 991px) {
  .steps-list {
    max-width: 100%;
    position: relative;
    order: 1;
  }

  .vertical-line {
    left: 5px;
    /* Positionner la ligne à gauche en mode mobile */
    transform: none;
    /* Supprime la translation pour l'alignement */
  }
}

.step-item {
  position: relative;
  z-index: 1;

  display: flex;
  width: 100%;
  align-items: start;
  gap: 15px;
  justify-content: start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  /* Cacher les cercles */
  .step-circle,
  .step-circle-inner {
    display: none;
  }

  /* Cacher la ligne verticale */
  .vertical-line {
    display: none;
  }
}

.step-circle {
  flex-direction: row; /* Aligner les éléments horizontalement */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;;
}

.step-circle-inner {
  background-color: #ffbb1e;
  border-radius: 50%;
  align-self: stretch;
  display: flex;
  min-height: 20px;
  width: 20px;
  height: 20px;
  flex: 1;
  flex-basis: 0%;
  margin: auto 0;
}

.step-content {
  border-radius: 28px 28px 0 28px;
  background-color: transparent;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  flex-basis: 0%;
  padding: 0 17px;
}

@media (max-width: 991px) {
  .step-content {
    max-width: 100%;
    
  }
}

.step-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 991px) {
  .step-title {
    max-width: 100%;
  }

  
}

.step-description {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  font: 700 20px Open Sans, sans-serif;
}

@media (max-width: 991px) {
  .step-description {
    max-width: 100%;
  }
}

.faq-section {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.faq-answer {
  display: none;
  padding: 15px 20px;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.faq-wrapper {
  background-color: #fdbb1e;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  padding: 5% 7%;
  background-image: url(faq_bg.png);
}


.faq-title {
  color: #fff;
  text-align: center;
  font: 800 28px Inter, sans-serif;
  margin-bottom: 20px;
}


.faq-list {
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #000;
  justify-content: center;
  padding: 12px;
  border-radius: 10px;
}

.faq-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.arrow {
  font-size: 16px;
  margin-left: auto;
  /* Aligne la flèche à droite */
  color: #00CCBC;
  /* Couleur de la flèche */
  transition: transform 0.3s ease;
  cursor: pointer;
}

.faq-question {
  cursor: pointer;
  padding: 15px 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.question-wrapper {
  display: flex;
  justify-content: space-between;
  /* Aligne le texte et la flèche */
  align-items: center;
  width: 100%;
  /* Assure que tout soit sur une même ligne */
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.footer-wrapper {
  background-color: #000;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: start;
  padding: 50px 96px 50px 104px;
}


.footer-logo {
  display: flex;
  width: 110px;
  max-width: 100%;
  justify-content: start;
}

.logo-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  flex-basis: 0%;
  padding: 3px 0;
}

.logo-text {
  display: flex;
  width: 100%;
  align-items: end;
  gap: 2px;
  justify-content: start;
}

.logo-letter {
  aspect-ratio: 0.93;
  object-fit: contain;
  object-position: center;
  width: 13px;
}

.footer-content {
  display: flex;
  margin-top: 15px;
  width: 100%;
  align-items: start;
  gap: 15px;
  font-family: Open Sans, sans-serif;
  justify-content: start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .footer-content {
    max-width: 100%;
  }
}

.footer-column {
  border-radius: 28px 28px 0 28px;
  background-color: transparent;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  flex-basis: 0%;
  padding: 15px 17px;
  align-items: start;
  /* Aligne tout sur la gauche */

}

.footer-column-title {
  color: #ffbc1b;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  /* Ajoute un espace entre le titre et le contenu */

}

.footer-column-content {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  list-style: none;
  margin: 0;
  /* Supprime les marges supplémentaires */
  padding: 0;
  /* Supprime les marges internes */
  list-style: none;
  /* Supprime les puces */
  text-align: left;
  /* Aligne le texte avec le titre */
}

.footer-app-links {
  border-radius: 28px 28px 0 28px;
  background-color: transparent;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  align-items: start;
  font-size: 20px;
  color: #ffbc1b;
  font-weight: 600;
  justify-content: start;
  flex: 1;
  flex-basis: 0%;
  padding: 15px 17px;
}

.app-link-title {
  align-self: stretch;
}

.app-store-link {
  aspect-ratio: 3.19;
  object-fit: contain;
  object-position: center;
  width: 150px;
  margin-top: 10px;
  max-width: 100%;
}

.play-store-link {
  aspect-ratio: 3.41;
  object-fit: contain;
  object-position: center;
  width: 150px;
  margin-top: 10px;
  max-width: 100%;
}

.footer-social-links {
  display: flex;
  margin-top: 15px;
  width: 100%;
  align-items: center;
  gap: 23px;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0 18px;
}

@media (max-width: 991px) {
  .footer-social-links {
    max-width: 100%;
  }
}

.social-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}

/* Pour les écrans très petits (téléphones en mode portrait) */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .hero-title {
    font-size: 1.5em;
  }

  .hero-description {
    font-size: 0.9em;
  }

  .cta-button {
    padding: 8px 16px;
    font-size: 0.9em;
  }

  .service-card {
    width: 100%;
    height: auto;
  }

  .steps-image {
    width: 100%;
  }

  .stats-section {
    padding: 10px;
  }
}

/* Pour les tablettes */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2em;
  }
  .service-section {
    flex-direction: column; /* Les cartes passent en colonne sur mobile */
    align-items: center; /* Centre les cartes horizontalement */
  }
  .service-image {
    width: 100%; /* L'image prend toute la largeur de la carte */
    height: 150px; /* Ajuste la hauteur de l'image */
  }

  .service-title {
    font-size: 1.5em; /* Réduit la taille du titre sur mobile */
  }
  .service-description {
    font-size: 0.9em;
    /* Smaller font size for description */
  }

  .service-card {
    width: 80%; /* Prend 90% de la largeur disponible sur mobile */
    margin-bottom: 20px; /* Espace entre les cartes */
  }

  .stats-container {
    flex-direction: column;
  }

  .benefits-content {
    width: 100%;
    /* Prendre toute la largeur */
    padding: 20px 0;
  }

  .benefits-list {
    flex-direction: column;
    /* Passer en mode vertical */
    gap: 15px;
  }

  .benefit-text {
    font-size: 0.8em;
    /* Réduction du texte */
  }


  .benefit-item {
    width: 100%;
    /* Chaque élément prend toute la largeur */
    padding: 8px;
    font-size: 0.8em;
    /* Réduction de la taille de la liste sur mobile */
  }

  .benefit-icon {
    width: 30px;
    /* Réduction de la taille des icônes */
    height: 30px;
  }

  .benefits-title {
    font-size: 1.5em;
  }

  .benefits-description {
    font-size: 0.9em;
  }

  .benefits-section {
    flex-direction: column;
    /* Passe tout en colonne */
    gap: 30px;
    /* Espacement entre les sections */
  }

  .steps-content {
    flex-direction: column;
    align-items: center;
  }

  .steps-list {
    text-align: left;
    padding-left: 10px
  }

  .step-item {
    flex-direction: column;
    align-items: center;
  }

  .step-circle,
  .step-circle-inner {
    display: none;
  }

  /* Cacher la ligne verticale */
  .vertical-line {
    display: none;
  }
}

/* Pour les petits ordinateurs portables */
@media (max-width: 1024px) {
  .hero-title {
    font-size: 2.5em;
  }

  .service-card {
    width: 80%;
  }

  .steps-content {
    flex-wrap: wrap;
  }

  .benefits-section {
    flex-wrap: wrap;
  }
}